.row.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  .slashes{
    font-weight: 900;
    color: #000;
  }
  &.subheader{
    text-transform: none;
    font-family: $minion-font-family;
    letter-spacing: inherit;
    word-spacing: 0.0625rem;
  }
  @include breakpoint(xlarge down) {
    br{
      display: none;
    }
  }
}
.headline{
  padding-top: 3rem;
  padding-bottom: 3rem;
  .title{
    letter-spacing: 0.2rem;
  }
  @include breakpoint(large up) {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
    &#what-we-can{
      padding-top: rem-calc(140px);
      padding-bottom: rem-calc(120px);
    }
  }
  @include breakpoint(medium only) {
    .title{
      font-size: 2.75em;
    }
  }
  @include breakpoint(small only) {
    .subheader{
      text-align: right;
    }
  }
}
.full-img{
  img{
    width: 100%;
    border-bottom: 6px solid $success-color;
  }
}
.go-down{
  z-index: 20;
  a{
    position: absolute;
    width: 40px;
    height: 81px;
    left: 50%;
    top: -50px;
    margin-left: -20px;
  }
  @include breakpoint(medium down) {
    display: none;
  }
}

section, footer{
  position: relative;
  z-index: 10;
  background-color: $white;
}

