$br-font-family: "brandon-grotesque";

@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Thin.otf") format("opentype");;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Light.otf") format("opentype");;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Regular.otf") format("opentype");;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Medium.otf") format("opentype");;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Bold.otf") format("opentype");;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Black.otf") format("opentype");;
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Thin_Italic.otf") format("opentype");;
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Light_Italic.otf") format("opentype");;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Italic.otf") format("opentype");;
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Medium_Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Bold_Italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: $br-font-family;
  src:url("../fonts/Brandon_Grotesque/Brandon_Grotesque_Black_Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}


$minion-font-family: "minion-pro";
@font-face {
  font-family: $minion-font-family;
  src:url("../fonts/Minion_Pro/MinionPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $minion-font-family;
  src:url("../fonts/Minion_Pro/MinionPro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}