.card-item{
  margin-bottom: 2rem;
}
.card-title{
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;
}
.card-content{
  p{
    margin-bottom: 0;
    font-family: $minion-font-family;
    font-size: rem-calc(18px);
    font-weight: 500;
    line-height: 26px;
    word-wrap: break-word;
    text-align: justify;
  }
}
.card-link{
  text-transform: uppercase;
  color: #ffae00;
  font-family: $br-font-family;
  font-size: rem-calc(12px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
@include breakpoint(large up) {
  .card-item{
    max-width: 20rem;
  }
}
@include breakpoint(medium up) {
  .cards{
    padding-bottom: 6rem;
  }
}