footer {
  padding-bottom: rem-calc(50px);
  .footer-border {
    height: 6px;
    background-color: $success-color;
    margin-left: 0;
    margin-right: 0;
    max-width: inherit;
    margin-top: 0;
    width: 100%;
  }
  .footer-item{
    margin-top: 3rem;
  }
  p {
    font-family: $minion-font-family;
    line-height: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
  .social-link {
    padding-left: rem-calc(15px);
    img {
      width: rem-calc(30px);
      height: rem-calc(30px);
    }
  }
  img#footer-logo {
    width: rem-calc(82px);
    height: rem-calc(82px);
  }
}
.footer-copyrights{
  text-transform: uppercase;
  font-weight: 900;
  margin-top: rem-calc(88px);
  line-height: 24px;
  font-size: 12px;
  .year{
    font-size: 14px;
  }
  .copy-rights-link{
    color: $success-color;
  }
}
.meet-us-container{
  position: relative;
}
#meet-us{
  display: block;
  text-align: center;
  color: $black;
  margin: 0 auto;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  img {
    width: rem-calc(39px);
    height: rem-calc(79px);
  }
  span{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;

  }
}
@include breakpoint(medium up) {
  .footer-links{
    text-align: right;
  }
}
@include breakpoint(medium down) {
  footer .footer-item{
    margin-top: 2rem;
  }
}
@include breakpoint(small only){
  #meet-us{
    position: relative;
    margin-top: 2rem;
  }
  .footer-copyrights{
    margin-top: 2rem;
  }
  footer .footer-item{
    text-align: center;
  }
}