header{
  .top-bar{
    padding-top: rem-calc(26px);
    padding-right: 0;
    padding-left: 0;
  }
  .top-bar-title{
    img {
      width: rem-calc(66px);
      height: rem-calc(113px);
    }
  }
  .top-links{
    margin-bottom: 5px;
    a{
      padding-left: rem-calc(10px);
    }
    img {
      width: rem-calc(24px);
      height: rem-calc(24px);
    }
  }
  @include breakpoint(large up) {
    .top-bar{
      padding-top: rem-calc(50px);
      padding-right: rem-calc(49px);
      padding-left: 2.3rem;
    }
  }
  @include breakpoint(small only) {
    //.top-bar-title{
    //  width: 100%;
    //  margin: 0;
    //  text-align: center;
    //}
  }
  &.fixed{
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
  }
}
