#bgvideo_overlay {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/raster.png");
  z-index: 0;
}
.intro-row {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 1px;
  height: 100%;
  z-index: 5;
  h1{
    color: $black;
    letter-spacing: rem-calc(1.6px);
    display: inline-block;
    position: absolute;
    top: 35%;
    small{
      color: $success-color;
    }
  }
}
.intro-row-spacer {
  //height: 100%;
  //display: block;
  //border-bottom: 6px solid $success-color;
  //z-index: 2;
  //position: relative;
}


@media screen and (min-width: 640px){
  .intro-row-spacer {
    display: block;
    height: 100%;
  }
}

