//#top-nav {
//  li {
//    a {
//      color: $black;
//      font-weight: 700;
//      font-variant: small-caps;
//      font-family: $br-font-family;
//      text-transform: uppercase;
//      font-weight: 700;
//      padding-right: rem-calc(46px);
//    }
//    &.active {
//      a {
//        color: $success-color;
//        background: none;
//        .slashes {
//          color: black;
//          font-family: Q;
//          font-weight: 900;
//        }
//      }
//    }
//  }
//  .icon-btn-container{
//    padding-left: rem-calc(54px);
//  }
//  .menu-icon.dark{
//    font-weight: 900;
//    top: 6px;
//  }
//  .menu-icon.dark::after {
//    display: none;
//  }
//
//}
//#responsive-menu {
//  display: none;
//  width: auto;
//  &.openMenu {
//    display: block !important;
//  }
//}
#top-nav {
  li {
    a {
      color: $black;
      font-weight: 700;
      font-variant: small-caps;
      font-family: $br-font-family;
      text-transform: uppercase;
      font-weight: 700;
      padding-right: rem-calc(46px);
    }
    &.active {
      a {
        color: $success-color;
        background: none;
        .slashes {
          color: black;
          font-family: Q;
          font-weight: 900;
        }
      }
    }
  }
  .icon-btn-container{
    padding-left: rem-calc(54px);
  }
  .menu-icon.dark{
    font-weight: 900;
    top: 6px;
  }
  .menu-icon.dark::after {
    display: none;
  }

}
#responsive-menu {
  display: none;
  width: auto;
  &.openMenu {
    display: block !important;
  }
}
@include breakpoint(medium only) {
  #top-nav {
    li a {
        padding-right: rem-calc(16px);
      }
    .icon-btn-container{
      padding-left: 0;
    }
  }
}
