<footer>
  <div class="row full-width">
    <div class="large-10 small-12 large-centered">
      <hr class="footer-border">
    </div>
  </div>
  <div class="row full-width" data-equalizer data-equalize-on="medium">
    <div class="large-2 large-offset-1 medium-6 columns">
      <div class="footer-item" data-equalizer-watch>
        <img src="{{root}}assets/img/icons/footer_logo.svg" alt="Brand Lab" id="footer-logo">
      </div>
    </div>
    <div class="large-2 large-push-6 medium-6 columns  footer-links">
      <div class="footer-item" data-equalizer-watch>
        <a class="social-link" href="https://www.facebook.com/studioQagency/" target="_blank">
          <img src="{{root}}assets/img/icons/facebook_green.svg" alt="StidioQ Facebook">
        </a>
        <a class="social-link" href="#" target="_blank">
          <img src="{{root}}assets/img/icons/twitter_green.svg" alt="StidioQ Twitter">
        </a>
        <a class="social-link" href="mailto:office@studioq.at">
          <img src="{{root}}assets/img/icons/mail_green.svg" alt="StidioQ Mail">
        </a>
      </div>
    </div>
    <div class="large-2 large-pull-2 medium-4 medium-push-12 columns">
      <div class="footer-item" data-equalizer-watch>
        <h6>
          <span class="slashes">\\</span> STUDIO Q BRAND LAB
        </h6>

        <p>
          Rotenturmstr. 14 / Stg. 2 / DG <br>
          1010 Vienna, Austria
        </p>

        <p>
          Phone: +43 (0) 1 3615860
        </p>

        <p>
          Email: office@studioq.at
        </p>
      </div>
    </div>
    <div class="large-2 large-pull-2 medium-4  columns">
      <div class="footer-item" data-equalizer-watch>
        <h6>
          <span class="slashes">\\</span> CODE Q WEB FACTORY
        </h6>

        <p>
          Rotenturmstr. 14 / Stg. 2 / DG <br>
          1010 Vienna, Austria
        </p>

        <p>
          Phone: +43 (0) 1 3615860
        </p>

        <p>
          Email: office@studioq.at
        </p>
      </div>
    </div>
    <div class="large-2 large-pull-2 medium-4 end columns">
      <div class="footer-item" data-equalizer-watch>
        <h6>
          <span class="slashes">\\</span> STUDIO Q BRAND LAB
        </h6>

        <p>
          Marka Oreskovica 17 / 4 / 15 <br>
          11000 Belgrade, Serbia
        </p>

        <p>
          Phone: +43 (0) 1 3615860
        </p>

        <p>
          Email: office@studioq.at
        </p>
      </div>
    </div>

  </div>
  <div class="row full-width">
    <div class="large-1 large-offset-1  large-push-9 medium-4 medium-push-8 small-12 columns end text-right">
      <div class="meet-us-container">
        <a href="#" id="meet-us">
          <img src="{{root}}assets/img/icons/arrow_down.svg" alt="Meet Us">
          <span>Meet Us</span>
        </a>
      </div>
    </div>
    <div class="large-8  large-pull-3 large-offset-1 medium-8 medium-pull-4 small-12 columns">
      <div class="footer-copyrights">
        <span class="year">© 2016</span> STUDIO Q BRAND LAB \\ <a href="#" class="copy-rights-link">IMPRESSUM</a> \\ <a
          href="" class="copy-rights-link">Terms & Conditions</a>
      </div>

    </div>

  </div>
</footer>
