<header class="fixed">
  <div class="row full-width">
    <div class="large-12 columns">
      <div class="top-bar">
        <div class="top-bar-title">
          <a href="/">
            <img src="{{root}}assets/img/icons/header_logo.svg" alt="Brand Lab">
          </a>
        </div>
        <div class="top-links text-right">
          <a class="facebook" href="https://www.facebook.com/studioQagency/" target="_blank">
            <img src="{{root}}assets/img/icons/facebook_black.svg" alt="studioQagency">
          </a>
          <a class="facebook" href="https://www.facebook.com/studioQagency/" target="_blank">
            <img src="{{root}}assets/img/icons/twitter_black.svg" alt="studioQagency">
          </a>
          <a class="mail" href="mailto:office@studioq.at">
            <img src="{{root}}assets/img/icons/mail_black.svg" alt="studioQ Mail">
          </a>
        </div>
        {{> navigation}}

      </div>
    </div>
  </div>
</header>
