<nav id="top-nav">
  <span data-toggle="responsive-menu" aria-controls="responsive-menu" data-hide-for="unlimit" class="float-right icon-btn-container">
    <button class="menu-icon dark" type="button">\\\</button>
  </span>
  <div id="responsive-menu" data-toggler="fyykat-toggler" data-animate="slide-in-right slide-out-right" class=" float-right linear"  aria-expanded="true" style="display: none;">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">WHO WE ARE</a>
      </li>
      <li class="active"><a href="#"><span class="slashes">\\</span> WHAT WE DO</a></li>
      <li><a href="#">PROJECTS</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>
</nav>
