<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body data-fullvideo="{{root}}assets/video/studioQ_launch_reel.webm,{{root}}assets/video/studioQ_launch_reel.mp4" data-fullimg="{{root}}assets/video/studioQ_launch_reel.jpg" >
    {{> navigation}}
    {{> intro}}
    <div id="body-wrapper">
      {{> body}}
    </div>
    {{> footer}}
    <script src="{{root}}assets/js/app.js"></script>
    <!--<script src="{{root}}assets/js/bgvideo.min.js"></script>-->
  </body>
</html>