<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="{{root}}assets/img/favicon/FAV_32x32.png">
    <link rel="icon" type="image/png" href="{{root}}assets/img/favicon/FAV_32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{root}}assets/img/favicon/FAV_152x152.png" sizes="152x152">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body data-fullvideo="{{root}}assets/video/studioQ_launch_reel.webm,{{root}}assets/video/studioQ_launch_reel.mp4" data-fullimg="{{root}}assets/video/studioQ_launch_reel.jpg" >
    {{> header}}

    {{> intro}}
    <div id="body-wrapper">
      {{> body}}
    </div>
    {{> footer}}
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>